<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_3UWmCp5xc4h1QkKl08jFD902Q0ncSn0</string>
	<key>GCM_SENDER_ID</key>
	<string>833497090459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>africa.fnb.ios.dev</string>
	<key>PROJECT_ID</key>
	<string>fnb-dev-lf</string>
	<key>STORAGE_BUCKET</key>
	<string>fnb-dev-lf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833497090459:ios:5287225c06c8695067393e</string>
</dict>
</plist>