<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCtXbzcQb2TB1TWg6UgFDMvh_i_tuc2kc</string>
	<key>GCM_SENDER_ID</key>
	<string>543753027328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.fnb.webstore.companion.prod</string>
	<key>PROJECT_ID</key>
	<string>fnb-prod-lf</string>
	<key>STORAGE_BUCKET</key>
	<string>fnb-prod-lf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543753027328:ios:5bb129205be39affcc7de5</string>
</dict>
</plist>