<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB753g-QOeMU8wnvlHeNoKOhseQMY5uKOk</string>
	<key>GCM_SENDER_ID</key>
	<string>447944361910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>africa.absa.shopred.uat</string>
	<key>PROJECT_ID</key>
	<string>absa-uat-431807</string>
	<key>STORAGE_BUCKET</key>
	<string>absa-uat-431807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447944361910:ios:1b37356779729d30516317</string>
</dict>
</plist>